/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Inter', sans-serif;
}
/* .navbars {
  font-weight: 700;
  
}

.nav-brand {
  font-weight: 700;
}

.link {
  text-decoration: none;
}
.text-logo{
  color: #5790FF!important;
  font-weight: 700;
}
.text-nav {
  color: black!important;
}
.login-text{
  font-size: 38px;
  font-weight: 600;
  color: #1A3447!important;
}
.login-btn {
  font-size: 18px;
  font-weight: 600;
  background-color: #408FC2!important;
}
.form-control {
  border-radius: 10px!important;
}
.mt-6 {
  margin-top: 40px!important;
}

.our-class-schedules{
  font-family: 'Poppins', sans-serif!important;
} */
